:root {
    --primary: hsla(216, 70%, 51%, 0.8);
    --secondary: hsla(216, 70%, 88%, 0);
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}



/*   Header styles comes below */
header nav{
    width: 90%;
    margin: auto;
  }
  header .dropdown-menu{
    margin-left: -20px;
  }
  



/* Main styles comes below */
.container-fluid {
    width: 100%;
    height: 720px;
    background: linear-gradient(90deg, var(--primary), var(--secondary)),
                url('./img/landing-page-main.png') no-repeat center center / cover;
}

.main-content {
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-h1 {
    width: 27%;
}

.main-p {
    width: 35%;
    margin-top: 40px;
}

.main-content h1 {
    font-size: 50px;
    font-weight: 500;
}

.main-content p {
    font-size: 27px;
    font-weight: 400;
    color: #FFFFFF;
}

.white {
    color: #FFFFFF;
}

.main-content button {
    margin-top: 80px;
    min-width: 200px;
    max-width: 40%;
    height: 55px;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: #F2F0F0;
    background: #0056D2;
    padding: 2px 5px;
    font-size: 1.5rem;
}


/*   What we do styles come below */
.wwd-header {
    padding: 0px;
    text-align: center;
    font-weight: 400;
}
.wwd-header h1 {
    font-size: 40px;
    padding-bottom: 10px;
}
.whatwedo {
    padding: 50px;
    background-color: #ECF1F5;
    font-family: 'Poppins';
    color: #00112A;
}
.wwd-boxes {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.wwd-boxes img {
    padding: 0;
    width: 72px;
    height: 72px;
}
.wwd-boxes .box h3 {
    font-weight: 600;
    padding: 10px 0;
}
.wwd-boxes .box {
    background-color: #F9F8F8;;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 285px;
    height: 370px;
}
.wwd-boxes .box:hover {
    background: #FFFFFF;
    box-shadow: -10px -10px 30px #F3F3F3, 10px 10px 30px rgba(0, 0, 0, 0.06);
}

/*   why choose us  styles come below*/

  

/*  Testimonial styles comes below*/


.testimonials{
    width:100%;
    height: 100vh;
    margin-bottom: 100px;
    margin-top: 100px;
  box-sizing: border-box;
}

.testimonials .htest{
    text-align:center;
    margin-bottom: 2em;
}

.testimonials .main-text{
    font-size: 30px;
    margin-bottom: 1rem;
}

.testimonials .text{

    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #00112a;
    margin-bottom: 2em;
}

.testimonial-container{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  
}

.testimonials .card{
    width: 24%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 5px 5px grey;
}

.testimonials .card img{
    width: 100%;
    object-fit: cover;
}

.testimonials .content{
    padding: 1.5em;
}

.testimonials .card h3{
    margin: 0.6em 0;
    margin-top: 0;
}

.testimonials .card p{
    margin: 0.6em 0;
    margin-top: 0.2em;
}


.testimonials .card .read-more{
    text-align: right;
    color: blue;
    margin: 1em 0
}


/* join .... styles comes  below*/
.join-container{
  top: 2957px;
  width: 100%;
  height: auto;
  background-color: #CCDDF6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  gap: 45px;
  left: 0px;
  top: 776px;

}
.jointext{
  
width: 587px;
height: 154px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: #00112A;
flex: none;
order: 0;
flex-grow: 0;
/* margin-top: -360px; */
}
.GetStarted{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #F2F0F0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 138px;
    height: 40px;
    background: #0056D2;
    border-radius: 8px;
    margin-top: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
}
#handimg{
width: 348.5px;
height: 209.1px;
background: url(image.png);
border-radius: 10.3259px 10.3259px 0px 0px;
flex: none;
order: 0;
flex-grow: 0;
  float:right
}
.whitediv{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 20.6519px;
gap: 20.65px;
width: 348.5px;
height: 394.22px;
background: #FFFFFF;
border-radius: 10.3259px;
flex: none;
order: 1;
flex-grow: 0;
  float:right
}
.whitedivtext{
  width: 270px;
height: 116px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;


color: #666666;
}
.arrowright{
  position: absolute;
left: 90.5%;
right: 3.75%;
  

 
/* position: absolute;
left: 90.5%;
right: 70.5%; */

}
.arrowleft{
  position: absolute;
left:3.75%;
right: 90.5%;
  
  
  
}
.svgtext1{
  width: 94px;
height: 58px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}
.mysvg{
  display:flex;
  margin-top:50px;
  justify-content:space-evenly
  

  
}
.svgtext{
  display:flex;
  justify-content:space-evenly
}




/* Contact us styles comes  below*/


.form-container {
    margin: 3.75rem auto;

}

.form-text {
    margin: 6.25rem 3.125rem;
  width:20%
}
.btn-contact{
    background-color:  #0056D2;
    outline: none;
    color:#F2F0F0;
}
.btn-contact:hover{
    background-color:  #0056D2;
    color:#F2F0F0;
}
.contact-info{
    display: flex;
    justify-content: space-around;
    align-content:center; 
}
.contact-icon{
    border: 1px solid #D1D1D1;
    border-radius: 0.5rem;
    text-align: center;
    width: 90%;
    padding: 0.625rem 0px;
}

.fa-solid{
    border: 1px solid #80ABE9;
    background-color: #80ABE9;
    border-radius:0.25rem;
    margin: 0px 0.125rem;
    padding:0.1875rem;
    color: #000;
}

.contact-address{
    font-size: 0.625rem;
    margin: 0.3215rem;
    width: 70%;
    text-align: center;
}

.contact-ul{
    padding-left: 0;
}
.contact-ul li{
font-size: 0.625rem;
list-style-type: none;
}


/* faq styles come  below*/
.faq{
  padding: 3em;
  padding-bottom: 200px;
}
.faq .container{
  width: 65%;
}
.faq, .faq > *{
  background-color: #F5F5FB !important;
}

.faq h1{
  text-align: center;
}

.accordion-item{
  background-color: #F5F5FB;
}
  

/* subscribe and  footer styles come below*/

h2 {
    margin-top: 2px;
}
.subscribe p {
    margin-top: -30px;
}
.subscribe form {
    display: flex;
}
input {
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    font-size: 14px;
    flex: 0.7;
    padding: 15px;
}
input::placeholder {
    color: hsl(0, 0%, 75%);
}
button {
    border: 1px solid #0056D2;
    background: #0056D2;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    flex: 0.3;
    color: #fff;
    padding: 15px;
}
.subscribe {
    display: flex;
    color: black;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    margin: 0 auto;
    max-width: 542.9px;
    width: 100%;
    background: #FFFFFF;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    top: -125px;
}

 /* Footer Styles */

footer {
    background: #0056D2;
    color: #fff;
}


footer ul {
    list-style-type: none;
}
.footer-content img {
    margin-top: -100px;
}
footer ul li {
    margin-bottom: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.copyright-socials {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.social-media {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media li img {
    display: block;
}
.copyright-socials p {
    color: #fff;
}

/* ----------------------------------------------------------------- */

/* Enter your tablet to mobile styles below (find your space) */

@media screen and (max-width: 1000px){

/*   Header styles comes below */




/* Main styles comes below */
    .main-h1 {
        width: 37%;
    }

    .main-p {
        width: 47%;
    }
    .main-content button {
        font-size: 1.3rem;
        height: 50px;
    }


/*   What we do styles come below */
    .wwd-header h1 {
        font-size: 30px;
    }
    .wwd-boxes {
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .wwd-boxes img {
        padding: 0;
        width: 52px;
        height: 52px;
    }
    .wwd-boxes .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 285px;
        height: 300px;
    }


/*   why choose us  styles come below */

  

/*  Testimonial styles comes below */
.testimonials{
    width:100%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
  box-sizing: border-box;
}  

.testimonials .htest{
    margin: auto;
    text-align:center;
    margin-bottom: 2em;
    width: 85%;
  
}

.testimonial-container{
    display: block;
    
    width: 85%;
    margin: auto;
  
}

.testimonials .card{
    width: 80%;
  margin: auto;
    overflow: hidden;
    border-radius: 10px;
  margin-top: 1em;
    box-shadow: 2px 5px 5px grey;
}

.testimonials .card img{
    width: 100%;
    object-fit: cover;
}

.testimonials .content{
    padding: 1.5em;
}

.testimonials .card h3{
    margin: 0.6em 0;
    margin-top: 0;
}

.testimonials .card p{
    margin: 0.6em 0;
    margin-top: 0.2em;
}


.testimonials .card .read-more{
    text-align: right;
    color: blue;
    margin: 1em 0
}


/* join .... styles comes below */



/* Contact us styles comes below */



/* faq styles come below */
.faq{
  padding: 0.5em;
}
.faq .container{
  width: 90%;
}

/*   footer styles come below */
  
  
}


/*For screens smaller than tab*/
@media (max-width:880px) {
    .main-h1 {
        width: 43%;
    }

    .main-p {
        width: 58%;
    }

    .main-content h1 {
        font-size: 48px;
    }

    .main-content p {
        font-size: 26px;
    }
    .main-content button {
        margin-top: 80px;
    }
}


@media (max-width:710px) {
    .main-h1 {
        width: 57%;
    }

    .main-p {
        width: 62%;
    }
}


@media (max-width:600px) {
    .container-fluid {
        width: 100%;
        height: 480px;
        background: linear-gradient(90deg, var(--primary), var(--secondary)),
            url('./img/landing-page-mobile.png') no-repeat center center / cover;
    }

    .main-content {
        margin: 0;
    }

    .main-h1 {
        width: 45%;
    }

    .main-p {
        width: 75%;
    }

    .main-content h1 {
        font-size: 2rem;
    }

    .main-content p {
        font-size: 1rem;
    }

    .main-content button {
        margin-top: 40px;
        width: 50%;
        align-self: center;
        font-size: 1.3rem;
    }
}

@media(max-width: 480px) {
    .container-fluid {
        height: 380px;
    }
    .main-h1 {
        width: 50%;
    }
    .main-p {
        width: 85%;
    }

    .main-content h1 {
        font-size: 1.7rem;
    }

    .main-content p {
        font-size: 0.85rem;
    }
    .main-h1 {
        width: 50%;
    }
    .main-content button {
        margin-top: 25px;
        font-size: 1.2rem;
    }
}


@media (max-width:430px) {
    .main-h1 {
        width: 57%;
    }

    .main-p {
        width: 80%;
    }
    .main-content h1 {
        font-size: 1.5rem;
    }

    .main-content p {
        font-size: 0.75rem;
    }
    .main-content button {
        height: 40px;
        font-size: 1rem;
    }
}
