{% extends 'main.html' %}
{% load static %}
{% block head %}
<title>Forgot Password</title>
<link rel="stylesheet" href="{% static 'styles/passwords.css' %}">
<style>
    #id_email {
        width: 20rem;
        height: 3rem;
    }
</style>
{% endblock %}
{% block content %}
<header>
    <div class="header-image">
<img src="{% static 'images/forgottenpassword-image.png' %}" alt="Forgotten-password
">
    </div>
</header>
<main>
    <div class="forgotten-main">
        <div class="Password-typemail">
            <h2>Forgotten Password?</h2>
            <p>No worries we will send you reset instruction</p>
        </div>
       <form action="" method="post">
        {% csrf_token %}
        <div class="Forgotten-email">
            {{form}}
        <input type="submit" style="width: 20rem; margin-top: 3rem;" class="forgotten-btn" value="Reset"></input>
        </div>
</form>
    </div>
    

</main>
{% endblock %}