{% extends 'main.html' %}{% load static %} {% block head%}
<title>{{request.user}}'s Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Fonts links -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/5d3fc22e6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/admin-dashboard.css' %}">

{% endblock head %}
{% block content %}

<main>

    <!-- sidebar -->
 {% include 'sidebar.html' %}
    <div class="main">

        <!-- header section -->
        <nav>
            <i class="fa-solid fa-bars" id="ham"></i>
            <button data-toggle="modal" data-target="#exampleModalLong">New debtor<i
                    class="fa-solid fa-plus"></i></button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Debtor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
<!--  
                        <div class="copy">
                            <label>Student image</label>
                            <label for="cac" class="copyLabel">Student image
                                <input type="file" name="file" id="my-file" required>
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                            </label>

                        </div> -->
                        {% csrf_token %}
                        {{form}}
                        <button>Upload to debtors list</button>


                    </form>
                </div>
            </div>
        </div>
    </div>




<div class="search">
    
    <form action="{% url 'core:search' %}" method="get">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="q" placeholder="Search by Student ID">
    </form>
</div>
<div class="space"></div>
<div class="notifs">
    <i class="fa-solid fa-bell"></i>
    <i class="fa-solid fa-envelope"></i>
    <div class="profile">
        <img src="{% static 'images/profile.png' %}">
        <i class="fa-solid fa-angle-down"></i>
    </div>
</div>
</nav>

<div class="mobile-nav">
<i class="fa-solid fa-bars" id="mham"></i>
<img src="{% static 'images/CodebitLogo.jpg' %}" alt="logo">

<div class="profile">
    <img src="{% static 'images/profile.png' %}">
    <i class="fa-solid fa-angle-down"></i>
</div>
</div>


        <!-- Main body  -->
        <div class="body">
            <div class="container">
                <div class="welcome">
                    <h1>Welcome Back {{user.first_name}}</h1>
                    <span>Let's track some debtors today!</span>
                </div>

                <h3>Overview</h3>
                <div class="cards">
                    <div class="left">
                        <div class="top">
                            <div class="text">
                                <h2>{{recovered}}</h2>
                                <p>Debts recovered</p>
                            </div>
                            <img src="{% static 'images/Icon-done.png' %}" alt="An image done">
                        </div>

                        <div class="bottom">
                            <div class="text">
                                <h2>{{count}}</h2>
                                <p>Pending debts</p>
                            </div>
                            <img src="{% static 'images/Icon-pulse.png' %}" alt="A pulse icon">
                        </div>
                    </div>

                    <div class="right">
                        <span><strong>Progress Analysis</strong></span>

                        <div class="charts">
                            <div class="pie-chart">
                                <canvas id="myChart"></canvas>
                            </div>

                            <div class="progress-chart">
                                <div class="container">
                                    <h2>Recovery Process</h2>

                                    <span class="push">{{indebted_percent}}% pending debts</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                            aria-valuemin="0" aria-valuemax="100" style="width:{{indebted_percent}}%">

                                        </div>
                                    </div>
                                    <span>{{recovered_percent}}% recovered debts</span>
                                    <div class="progress">
                                        <div class="progress-bar2" role="progressbar" aria-valuenow="70"
                                            aria-valuemin="0" aria-valuemax="100" style="width:{{recovered_percent}}%">

                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="avatars">
                            <img src="{% static 'images/grooup-images.png' %}" alt="group of images as avatars">
                            <span><strong>students enrolled</strong></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="recent">
                <h2>Contends (3)</h2>

                <div class="act">
                    <table>
                        <thead>
                            <th>Student Name</th>
                            <th>Student ID</th>
                            <th class="none"></th>
                        </thead>
                        <tr>
                            <td>Dayo Victoria</td>
                            <td>000011</td>
                            <td class="none">
                                <button>View</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>



</main>
{% endblock %}
{% block scripts %}
    <!-- script for progress bar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- script for pie-chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    {% include 'core/js-admin-dashboard.html' %}
    <script src="{% static 'js/admin-dashboard.css' %}"></script>
{% endblock %}