<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/password_reset.css'%}">
    <title>Confirmed Password</title>
</head>
<body>
    {% block content %}
    <header>
        <div class="header-image">
           <img src="{% static 'images/header2 (2).png'%}" alt="Forgotten-password
">
        </div>
    </header>
    <main>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="forgotten-main">
                <div class="Password-typemail">
                    <h2>Set new Password?</h2>
                </div>
                <div class="Forgotten-email">
                    <label for="Password" class="forgotten-label">Password</label>
                    <input type="password" id="password" class="email-forgotten-password">
                    <p>must be at least eight characters</p>
                </div>
            
                <div class="Forgotten-email">
                    <label for="email" class="forgotten-label">Confirmed Password</label>
                    <input type="email" placeholder="mailhardy@gmail.com" id="email" class="email-forgotten-password">
                </div>
                <button class="forgotten-btn">Reset Password</button>

            </div>
        </form>
        {% endblock content%} 
    </main>
    
</body>
</html>