{% load static %}
<footer>
    <div class="container">
      <div class="subscribe">
        <h2>Subscribe to our News letter</h2>
        <p>Share your email and we will share our world</p>
        <form>
          <input type="email" placeholder="Email address" />
          <button>
            SUBMIT
          </button>
        </form>

      </div>

      <div class="footer-content">
        <img class="image__bright" src="{% static 'images/logo.svg' %}" alt="logo" />
        <ul>
          <li>
            <b>Company</b>
          </li>
          <li>
            Services
          </li>
             <li>
            About us
          </li>
          <li>
            Contact
          </li>
          <li>
            Terms of service
          </li>
          <li>
            Privacy Policy
          </li>
        </ul>

        <ul>
          <li>
            <b>Product</b>
          </li>
          <li>
            Lorem 1
          </li>
          <li>
            Lorem 2
          </li>
          <li>
            Lorem 3
          </li>
          <li>
            Lorem 4
          </li>
        </ul>

        <ul>
          <li>
            <b>Resources</b>
          </li>
          <li>
            Lorem 1
          </li>
          <li>
            Lorem 2
          </li>
          <li>
            Lorem 3
          </li>
          <li>
            Lorem 4
          </li>
        </ul>

        <ul>
          <li>
            <b>Resources</b>
          </li>
          <li>
            Lorem 1
          </li>
          <li>
            Lorem 2
          </li>
          <li>
            Lorem 3
          </li>
          <li>
            Lorem 4
          </li>
        </ul>



      </div>

      <div class="copyright-socials">

        <p>Copyright &copy; 2022 CoDebt Platforms, Inc</p>

        <ul class="social-media">
          <li>
            <a class="circle" href="#">
              <img src="{% static 'images/facebook.png' %}" alt="facebook" />
            </a>
          </li>
          <li>
            <a class="circle" href="#">
              <img src="{% static 'images/linkedin.png' %}" alt="linkdein" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{% static 'images/Twitter.svg' %}" alt="Twitter" />
            </a>
          </li>
          <li>
            <a class="circle" href="#">
              <img src="{% static 'images/Instagram.svg' %}" alt="Instagram" />
            </a>

          </li>
        </ul>

      </div>

    </div>

  </footer>