<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/password_reset.css'%}">
    <title>Forgotten Password</title>
</head>
<body>
    {% block content %}
    <header>
        <div class="header-image">
<img src="{% static 'images/forgottenpassword-image.png' %}" alt="Forgotten-password
">
        </div>
    </header>
    <main>
        <div class="forgotten-main">
            <div class="Password-typemail">
                <h2>Forgotten Password?</h2>
                <p>No worries we will send you reset instruction</p>
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="Forgotten-email">
                    <label for="email" class="forgotten-label">Email addresss</label>
                    <input type="email" placeholder="mailhardy@gmail.com" id="email" class="email-forgotten-password">
                </div>
                <button class="forgotten-btn">Reset Password</button>
            </form>
        </div>
        {% endblock content%}

    </main>
</body>
</html>