<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/password_reset.css'%}">
    <title>Password reset </title>
</head>
<body>
    {% block content %}
    <header>
        <div class="header-image">
<img src="{% static 'images/header2 (2).png'%}" alt="Forgotten-password
">
        </div>
    </header>
    <main>
        <div class="forgotten-main">
            <div class="inner-mail2">
                <h2>Password reset</h2>
                <p>your Password has been successfully reset click below to login</p>
            </div>

            <button class="forgotten-btn">Continue</button>
        </div>
        {% endblock content%}

    </main>
    
</body>
</html>