@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Manrope', sans-serif;
}
header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
header div a {
    padding: 10px;
    color: #666666;
    font-weight: 500;
    text-decoration: none;
    font-weight: 700; 
    font-size: 18px;           
}
.middle {
    font-weight: 700;
    margin: 25vh 0;
    padding: 0 20px;
}
.sign-in {
    color: #666666;
    line-height: 8px;
    padding-bottom: 10px;
}
.email-pass {
    padding: 0;
    display: flex;
    flex-direction: column;
}
input {
    padding-top: 20px;
    border: 0;
    width: 90%;
    outline: 0;
    font-size: 15px;
    background-color: #E5E4E4;
    font-weight: 400;
    border-bottom: 2px solid #558EE1;
}
i {
    cursor: pointer;
    margin-top: -25px;
    margin-left: 86.5%;
    font-weight: 700;
    color: #666666;
}
button, a {
    cursor: pointer;
}
a:hover {
    color: #0048AF;
}
button {
    background-color: #0048AF;
    margin-top: 60px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    width: 90%;
    border: 0;
    border-radius: 5px;
    color: white;
}
.split {
    width: 50%;
    height: 100vh;
}
.left {
    left: 0;
    background-color: #E5E4E4;;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background-color: #0048AF;
    text-align: center;
}
.right img {
    max-width: 100%;
}