@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #FFFFFF;
    height: 100vh;
}
.main-section {
    width: 60%;
    margin: auto;
    padding: 15px 20px;
}
header {
    padding-top: 20px;
}
.form-section {
    width: 70%;
    margin: auto;
    padding: 50px 0;
}
.form-section .sign-in {
    text-align: center;
}
.form-section .sign-in h1 {
    font-weight: 500;
    color: #090909;
    font-size: 30px;
}
.form-section .sign-in p {
    font-weight: 400;
    color: #666666;
}
.form-section .email-pass {
    display: flex;
    flex-direction: column;
}
.email-pass label {
    padding-top: 30px;
    color: #1A1A1A;
    font-weight: 500;
}
.email-pass input {
    border: 1px solid #B3B3B3;
    padding: 10px;
    margin-top: 10px;
    outline: 0;
    border-radius: 10px;
}
.email-pass p {
    text-align: end;
    padding-top: 10px;
    color: #000000;
}
#forgot-password, #signuplink {
    color: #0056D2;
    text-decoration: none;
    text-align: end;
}
a:hover, button:hover, #togglePassword {
    cursor: pointer;
}
#togglePassword {
    margin: 0;
    margin-left: auto;
    padding-right: 15px;
    position: relative;
    bottom: 35px;
    z-index: 1;
}
button {
    color: #F2F0F0;
    background-color: #0056D2;
    border: 0;
    outline: 0;
    border-radius: 8px;
    padding: 10px 0;
    margin: 30px 0 0;
    font-size: 16px;
}
@media only screen and (max-width : 500px) {
    /* Styles */
    body {
        background: #F6F5F5;
        height: 100vh;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    header {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .form-section {
        width: 100%;
    }
    .main-section {
        margin: auto;
        padding: 25px 30px 0;
        width: 70%; 
        height: 90%;
        border-radius: 8px;
        background: #FFFFFF;
    
    }
    .form-section .sign-in {
        text-align: start;
    }
    .form-section .sign-in p {
        font-size: 14px;
    
    }
    .email-pass p {
        text-align: center;
        font-size: 15px;
        padding: 0;
    }
    #forgot-password {
        text-align:start;
        font-size: 15px;
    }
    button {
        width: 80%;
        margin: 30px auto;
        font-size: 15px;
    }
}
@media only screen and (max-width : 350px) {
    /* Styles */
    .email-pass label {
        font-size: 15px;
    }
    .form-section .sign-in h1 {
        font-size: 20px;
    }
    .form-section .sign-in p {
        font-size: 12px;
    }
    .email-pass p {
        text-align: center;
        font-size: 12px;
        padding: 0;
    }
    #forgot-password {
        text-align:start;
        font-size: 12px;
    }
}