* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html, body {
    height: 100%;
    width: 100%;
    font-family: Poppins', sans-serif;
  } */


/* --------------------HEADER DESIGN-------------------------- */

.header-img {
    width: 100vw;
    height: 90vh;
    background-image: url('/static/images/bgcntct1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* --------------------CONTACT CODEBT TEAM SECTON-------------------------- */
.contct-heading2{
   display: flex;
   align-items: center;
   justify-content: center;
   /* width: 300px; */
}

.contct-heading2 .help-details {
    text-align: center;
    margin-top: 3.75rem;
    font-size: 1.56rem;
    width:47%
}

.cntct-form {
    width: 50%;
    margin: 40px auto;
}
.contact-btn{
    display:block;
    margin:0 auto;
    padding:0.625rem 3.75rem;
    background-color: #0056D2;
}
/* --------------------CONTACT CODEBT TEAM SECTON-------------------------- */
.debtor-locate-section{
    height: 80vh;
    margin-top: 3.75rem;
}

.locate-debtor1 h2{
    text-align: center;
    margin-top: 3.125rem;
    font-size: 1.875rem;
    padding-bottom: 3.125rem;

}
.debtor-locator2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:4.375rem 12.5rem;
}
.email-client .check-guide{
    width: 60%;
}
 .icons .icon-contact{
    margin-left: 2.5rem;
    width: 1.875rem;
}

.icons .icon-contact:hover{
    color: #0056D2;
} 

.contact-text{
    width: 100%;
}

/* footer */
h2 {
    margin-top: 2px;
}
.subscribe p {
    margin-top: -30px;
}
.newsletter-form {
    display: flex;
}
input {
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    font-size: 14px;
    flex: 0.7;
    padding: 15px;
}
input::placeholder {
    color: hsl(0, 0%, 75%);
}
button {
    border: 1px solid #0056D2;
    background: #0056D2;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    flex: 0.3;
    color: #fff;
    padding: 15px;
}
footer {
    background: #0056D2;
    color: #fff;
}
.subscribe {
    display: flex;
    color: black;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    margin: 0 auto;
    max-width: 542.9px;
    width: 100%;
    background: #FFFFFF;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    top: -125px;
}
footer ul {
    list-style-type: none;
}
.footer-content img {
    margin-top: -100px;
}
footer ul li {
    margin-bottom: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.copyright-socials {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.social-media {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media li img {
    display: block;
}
.copyright-socials p {
    color: #fff;
}

/* SIGN UP MEDIA QUERY */
@media (min-width:700px) and (max-width:1000px) {
    .debtor-locator2{
  
        margin:2.375rem 8.5rem;
    }
   

}
   
@media screen and (max-width:699px){
    
    .debtor-locate-section{
        margin-top: 2.75rem;
    }
    .debtor-locator2{
       
        margin:1.5rem 6.5rem;
    }
    .debtor-locator2{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .cntct-form {
        width: 70%;
        
    }

  
}
