*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-image{
    width: 100%;
    height: 47vh;
}
.forgotten-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-image img{
    width: 100%;
    height: 100%;
}
.Password-typemail{
    text-align: center;
    margin-top: 1.875rem;
    font-size: 1.875rem;
}
.Password-typemail p{
    font-size: 1.25rem;
}
.Forgotten-email{
    margin: 3.125rem auto;
    width: 40%;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}
.Forgotten-email .forgotten-label{
    font-size: 1.25rem;
   
}
.email-forgotten-password{
    width: 100%;
    padding: 0.9375rem;
    border-radius: 0.625rem;
    margin-top:  0.625rem;
}
.forgotten-btn{
    width: 40%;
    padding: 0.9375rem;
    border-radius: 0.625rem;
    background-color: #0056D2;
    border-radius: 0.2rem;
    color: #F2F0F0;
    font-size: 1.25rem;
    border: 1px solid #0056D2;
    outline: none;
}

/* CHECK YOUR MAIL STYLING */
.forgotten-main .inner-mail{
    margin-top: 1.25rem;
    padding: 1.875rem;
    font-size: 1.25rem;
}
.inner-mail h2{
    font-size: 2.1875rem;
    font-weight: 900;
}
.inner-mail p{
margin-top: 3.75rem;

text-align: center;
}
.inner-mail a{
    color: #0056D2;
    text-decoration: none;
}
/* STYLING  PASSWORD RESET*/
.forgotten-main .inner-mail2{
    margin-top: 1.25rem;
    padding: 1.875rem;
    font-size: 1.875rem;
}
.inner-mail2 h2{
    text-align: center;
}
.inner-mail2 p{
margin: 3.75rem auto;
width: 65%;
text-align: center;
font-size: 1.5625rem;
}

/* CHECK CONFIRMED MAIL STYLING */
.Forgotten-email{
    margin: 1.25rem auto;
    width: 40%;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}
.Forgotten-email .forgotten-label{
    font-size: 1.25rem;
   
}
.email-forgotten-password{
    width: 100%;
    padding: 0.9375rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
}


.inner-mail h2{
    text-align: center;
}
/* VERIFIED EMAIL STYLING */
.verified-info{
 font-size: 1.5625rem;
 padding: 0.625rem;
}
.verified-info p{
    margin-top: 1.25rem;
    font-size: 1.125rem;
    text-align: center;
}
/* PASSWORD SUCCESS STYLING */
.success-info {
    text-align: center;
}

.verified-info h3{
    text-align: center;
}
.verified-info p a{
    color: #0056D2;
    text-decoration: none;
}
