@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    font-family: 'poppins', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a {
  text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1300px;
    /* margin: 0 auto; */
    min-height: 80vh;
}
.container .title {
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}
.content form .user-details {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
}
form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 100px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .button {
    margin: 35px 0;
    letter-spacing: 1px;
    justify-content: center;
}
.btn {
    margin-top: 10px;
}
.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #4070F4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #265DF2;
}
.last {
    text-align: center;
}
.button view {
    align-items: center;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.toggle-eye {
    position: absolute;
    cursor: pointer;
    appearance: none;
    z-index: 1;
    outline: none;
    margin-top: 10px;
    margin-left: 500px;
}
.input-box-toggle:checked ~ .password-input {
    -webkit-text-security: circle;
}
.input-box-toggle:checked ~ .toggle-eye.close {
    opacity: 0;
}
.select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.select:focus,
.select:hover {
    outline: none;
    border: 3px solid #bbbbbb;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  .checkbox__input {
    display: none;
  }
  .checkbox__box {
    width: 1em;
    height: 1em;
    border: 2px solid #413c3c;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .checkbox__box::after {
    content: "\2714";
    color: #fff;
    transform: scale(0);
    transition: transform 0.15s;
  }
  .checkbox__input:checked + .checkbox__box {
    background: #265df2;
    border-color: #265df2;
  }
  .checkbox__input:checked + .checkbox__box:after {
    transform: scale(1);
  }
.last {
    margin-top: -22px;
    text-align: end;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 420px;
    margin-right: 30px;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    /* overflow-y: scroll; */
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .checkbox {
    margin-top: 150px;
  }
  .last {
    text-align: center;
  }
  .toggle-eye {
    margin-left: 430px;
  }
}