@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #F4F3F3;
    padding: 10px 50px;
    font-family: 'Poppins', sans-serif;
}
/* Student Profile */
.img-circle {
    position: relative;
    top: 0;
    left: 0;
}
#prof-pic {
    position: absolute;
    z-index: 5;
    top: 30px;
    margin: auto 30px;
}
#ellipse {
    position: relative;
    top: 0;
    left: 0;
}
.profile-img {
    color: #002B69;
}
.prof-img {
    text-align: center;
}
#straight-line {
    width: 100%;
    display: flex;
    margin: auto;
    border: 2px solid #002B69;
    border-radius: 10px;
}
.ward-info {
    display: flex;
    padding: 10px 0;
    justify-content: space-evenly;
    flex-direction: row;
}
.ward-info h3 {
    padding-bottom: 15px;
}
.ward-info div {
    width: 100%;
    line-height: 30px;
    background-color: #AAC7F0;
    color: #002B69;
    border-radius: 20px;
    padding: 20px;
    margin: 0 10px;
    padding-bottom: 50px;
}
.ward-info .bold {
    font-weight: 700;
}
.school-info {
    padding: 20px;
    margin-top: 20px;
    background-color: #2B72DA;
    border-radius: 20px;
}
.school-info div {
    display: flex;
    justify-content: space-between;
}
.school-info div h3 {
    color: #FCFCFC;;
}
.school-info .info-white {
    color: #161616;
    padding: 10px;
    margin: 10px 0;
    background: #FFFFFF;
    border-radius: 8px;
}
@media only screen and (max-width : 600px) {
    /* Styles */
    .prof-name {
        text-align: center;
    }
    .ward-info {
        display: flex;
        flex-direction: column;
    }
    .ward-info div {
        margin: 10px 0;
    }
}
   